<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean
            id="issueEventProducer"
            class="org.example.issuestracker.issues.command.infrastructure.event.IssueEventProducer"
    />

    <bean
        id="issueEventStoreRepository"
        class="org.example.issuestracker.issues.command.infrastructure.event.InMemoryIssueEventStoreRepository"
    />

    <bean
        id="issueEventStore"
        class="org.example.issuestracker.issues.command.infrastructure.event.IssueEventStore"
    >
        <constructor-arg ref="issueEventStoreRepository" />
        <constructor-arg ref="issueEventProducer" />
    </bean>

    <bean
        id="issueEventSourcingHandler"
        class="org.example.issuestracker.issues.command.infrastructure.event.IssueEventSourcingHandler"
    >
        <constructor-arg ref="issueEventStore"/>
    </bean>

    <bean
            id="commandDispatcher"
            class="org.example.issuestracker.issues.command.infrastructure.command.IssueCommandDispatcher"
    />

    <bean
        id="commandGateway"
        class="org.example.issuestracker.issues.command.infrastructure.command.IssueCommandGateway"
    >
        <constructor-arg ref="commandDispatcher" />
        <constructor-arg ref="openIssueCommandHandler" />
        <constructor-arg ref="closeIssueCommandHandler" />
        <constructor-arg ref="renameIssueCommandHandler" />
        <constructor-arg ref="changeIssueTypeCommandHandler" />
        <constructor-arg ref="commentIssueCommandHandler" />
    </bean>

    <bean
        id="openIssueCommandHandler"
        class="org.example.issuestracker.issues.command.application.command.handler.OpenIssueCommandHandler"
    >
        <constructor-arg ref="issueEventSourcingHandler"/>
    </bean>

    <bean
            id="closeIssueCommandHandler"
            class="org.example.issuestracker.issues.command.application.command.handler.CloseIssueCommandHandler"
    >
        <constructor-arg ref="issueEventSourcingHandler"/>
    </bean>

    <bean
            id="renameIssueCommandHandler"
            class="org.example.issuestracker.issues.command.application.command.handler.RenameIssueCommandHandler"
    >
        <constructor-arg ref="issueEventSourcingHandler"/>
    </bean>

    <bean
            id="changeIssueTypeCommandHandler"
            class="org.example.issuestracker.issues.command.application.command.handler.ChangeIssueTypeCommandHandler"
    >
        <constructor-arg ref="issueEventSourcingHandler"/>
    </bean>

    <bean
            id="commentIssueCommandHandler"
            class="org.example.issuestracker.issues.command.application.command.handler.CommentIssueCommandHandler"
    >
        <constructor-arg ref="issueEventSourcingHandler"/>
    </bean>
</beans>